<% include header %>
<% include modals/modal_del_post%>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

            <div class="page-header">
                <h1>
                    情报列表
                </h1>
                <!--<button class="btn btn-primary" type="button" href ="#modal_new_user" data-toggle="modal">新增情报</button>-->
                <form class="form-inline" method="get">
                    <div class="form-group">
                        <!--<label for="search_user_by_id"> : </label>-->
                        <input type="text" class="form-control" id="search_user_by_id" placeholder="作者ID或内容关键字" name="search" value=<%= search %> >
                    </div>
                    <button type="submit" class="btn btn-primary">搜索</button>
                </form>
            </div>

            <nav>
                <ul class="pager">
                    <% var baseUrl = "/posts?search="+search+"&page=" %>
                    <% var prevPage = page>1? page-1: 1;%>
                    <% var nextPage = posts.length== 10? page + 1:page; %>
                    <li><a href="<%= baseUrl + prevPage %>"> 前一页</a></li>
                    <li><a href="<%= baseUrl + nextPage %>">下一页</a></li>
                </ul>
            </nav>
            <table class="table table-bordered ">
                <thead>
                <tr class="info">
                    <th>
                        序号
                    </th>
                    <th>
                        内容
                    </th>
                    <th>
                        作者编号
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        创建时间
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <% posts.forEach(function(post, index){ %>
                <tr>
                    <td>
                        <%= index %>
                    </td>
                    <td>
                        <%= post.content %>
                    </td>
                    <td>
                        <%= post.author_id %>
                    </td>
                    <% if (post.important){ %>
                    <td><code>紧急</code></td>
                    <% } else { %>
                    <td> 日常</td>
                    <% } %>
                    <td>
                        <%= post.create_at_ago() %>
                    </td>
                    <td>
                        <a href="#" class="confirm-delete-post btn btn-danger btn-sm" role="button" data-id="<%= post.id %>" data-content="<%= post.content %>">删除</a>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include footer %>